@import "styles/_variables.scss";

.questionCard {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .catName {
      small {
        color: rgba($color: $black, $alpha: 0.75);
      }

      h4 {
        font-size: 1.5rem;
        font-weight: $f-w-3;
        text-transform: uppercase;
        color: $blue;
      }
    }

    .progressContainer {
      display: flex;
      flex-direction: column;

      small {
        color: rgba($color: $black, $alpha: 0.75);

        span {
          font-weight: $f-w-5;

          &:last-of-type {
            font-size: 1.25rem;
          }
        }
      }

      progress {
        width: 150px;
        height: 25px;
        border-radius: $border-radius;
        overflow: hidden;
        border: 1px solid $green;

        &::-webkit-progress-bar {
          background-color: transparent;
        }

        &::-webkit-progress-value {
          background-color: $green;
        }
      }
    }
  }

  .content {
    .question {
      background-color: $blue;
      color: $white;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: $border-radius;
    }

    .options {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;

      .option {
        width: 100%;
        height: auto;
        display: flex;

        > label {
          flex: 1;
          text-transform: capitalize;
          border: 1px solid rgba($color: $black, $alpha: 0.15);
          background-color: $white;
          padding: 0 1rem;
          height: 40px;
          display: flex;
          align-items: center;
          border-radius: $border-radius;
          transition: all 0.25s;
          font-size: 0.85rem;

          &:hover {
            cursor: pointer;
            border-color: $blue;
          }
        }

        input[type="radio"] {
          display: none;

          &:checked + label {
            border-color: $blue;
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .nextPrevFinishBtns {
    margin-top: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
}
