@import "styles/_variables.scss";

.select {
  position: relative;
  background-color: $white;
  user-select: none;
  border-radius: $border-radius;

  .selectHeader {
    border: 1px solid $blue;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: calc(30px + 0.5rem);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    > h4 {
      color: $black;
      line-height: 1;
      font-weight: $f-w-4;
      font-size: 0.8rem;
      text-transform: capitalize;
    }

    .icon {
      width: 25px;
      height: 25px;
      border-radius: $border-radius;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $blue;
    }

    &.active {
      .icon {
        background-color: $blue;
        color: $white;
        transform: rotate(180deg);
        transition: all 0.5s;
      }
    }

    &.notActive {
      .icon {
        background-color: transparent;
        color: $blue;
        transition: all 0.5s;
      }
    }
  }

  .selectContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    height: auto;
    background-color: inherit;
    border: 1px solid $blue;
    border-radius: $border-radius;
    margin-top: 3px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    // display: none;
    max-height: 20vh;
    overflow: auto;

    .option {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      min-height: 30px;

      > span {
        text-transform: capitalize;
        font-weight: $f-w-4;
        font-size: 0.9rem;
        line-height: 1;
        color: $black;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $blue;
      }

      &:hover {
        background-color: $blue;
        color: $white;
        cursor: pointer;
      }
    }

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }
}
